body {
    margin: 0;
    padding: 0;
    background-image: url("conn.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .project-info {
    text-align: center;
  }
  
  .project-info h1 {
    font-size: 32px;
  }
  
  .project-info p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  section {
    padding: 50px 0;
  }  