/* styles.css */

body {
    display: inherit;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    padding: 0px;
    background-color: dodgerblue;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container-1 {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  /*justify-content: left;*/
  display: block;
  width: 100px;
  /*float: inline-start;*/
}

.container-2 {
   /* background-color: #f1f1f1;*/
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    /*justify-content: center;*/
    display: block;
    flex-grow: 1;
}

.container-3 {
    /*justify-content: right;*/
    display: block;
    width: 100px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
}

main {
    color: darkgreen;
    display:flex;
}