/* styles.css */

body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: dodgerblue;
}
/*
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li {
    margin: 0 10px;
}

main {
    color: darkgreen;
    display:flex;
    justify-content: center;
}
*/